body {
  margin: 0;
}

.grid-container {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
  background-color: #2196f3;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}

ul li {
  list-style-type: none;
}

a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}

a:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
  background-color: #2196f3;
}

a img {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 1200px) {
  .grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    background-color: #2196f3;
    grid-template-columns: 100%;
  }
}
