body {
    margin: 0;
}

.grid-container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    background-color: #2196F3;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    background-color: #188ae7;
}