body {
  margin: 0;
  display: flex;
  font-family: "Shippori Mincho", serif;
}

div.linha {
  width: 2px;
  top: 395px;
  left: 167px;
  z-index: -1;
  height: 1150px;
  position: absolute;
  background-color: #999999;
}

aside {
  width: 10%;
  height: 1500px;
  padding-right: 0.8%;
  background-color: #cccccc;
}

aside div {
  display: flex;
  height: 100vh;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 90%;
  padding-left: 0.8%;
}

div.generalInfo div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

div.generalInfo a,
address {
  color: black;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

div div.title {
  display: flex;
  align-items: center;
}

div.generalInfo img {
  width: 30px;
}

img {
  width: 40px;
  margin: 0 10px 0 3.3px;
  background-color: white;
}
