body {
  margin: 0;
  display: flex;
  font-family: "Shippori Mincho", serif;
}

div.linha {
  z-index: -1;
  top: 410px;
  left: 177px;
  width: 2px;
  height: 1150px;
  position: absolute;
  background-color: #999999;
}

aside {
  width: 10%;
  height: 1500px;
  padding-right: 0.8%;
  background-color: #999999;
}

aside div {
  display: flex;
  height: 100vh;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 90%;
  padding-left: 0.8%;
}

main div.generalInfo div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

main div.generalInfo a, address {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

main div div.title {
  display: flex;
  align-items: center;
}

img {
  width: 40px;
  margin-right: 10px;
}
