* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(46, 49, 115);
}

.text-wrapper {
  padding: 5% 25% 0 25%;
  text-align: center;
}

.flexh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(229, 34, 55);
  margin-bottom: 40px;
  width: 60%;
}

p:nth-of-type(1),
p:nth-of-type(2),
p:nth-of-type(3) {
  font-size: 21.6px;
}

p:nth-of-type(4) {
  font-size: 24px;
}

p:nth-of-type(5) {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
}

die {
  font-size: 19.6px;
  color: white;
}

p {
  color: white;
}

p.smgae {
  font-size: 24px;
}

p.smga {
  color: white;
  font-size: 36px;
  text-align: center;
  margin: 12px 0;
}

.smf {
  text-align: center;
  padding: 10px 25% 0 25%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

.smaf > p:nth-of-type(1) {
  border-bottom: 1.5px solid rgb(229, 34, 55);
  color: white;
}

.smaf {
  padding-top: 10px;
  text-align: left;
  width: 60%;
}

.smaf > p:nth-of-type(2) {
  display: inline-block;
  color: white;
  font-size: 16px;
}

.img {
  background-image: url("../img/fan.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 190px;
  margin: 25% 0 25% 0;
}

.img h4 {
  margin-top: 20px;
  background-color: white;
  color: black;
}

@media screen and (min-width: 1280px) {
  .img {
    background-image: url("../img/boasfestas.jpg");
  }
}

@media screen and (max-width: 1280px) {
  .img {
    display: none;
  }

  .smaf {
    width: 100%;
  }

  .smaf p:nth-of-type(2) {
    padding-top: 10px;
  }

  .text-wrapper {
    padding: 10% 5px 0 5px;
  }
}

@media screen and (max-width: 768px) {
  .smf {
    display: block;
  }

  .smaf {
    width: 100%;
  }

  .img {
    display: block;
    width: 100%;
  }

  .img h4 {
    max-width: 190px;
    display: block;
  }

  .text-wrapper {
    padding: 15% 5px 0 5px;
  }
}
