* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
  background-color: rgb(46, 49, 115);
  /*mozila*/
  -moz-background-color: rgb(46, 49, 115);
}

.form-wrapper {
  /*background-color: red;*/
  width: 100%;
  padding: 5% 20% 0 20%;
}

form {
  /*background: green;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h1 {
  width: 60%;
  text-align: center;
  color: white;
  border-bottom: 3px solid rgb(229, 34, 55);
  padding-bottom: 10px;
  margin-bottom: 40px;
}

form .flex {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
}

form label {
  /*background: yellow;*/
  color: white;
  cursor: text;
  font-size: 24px;
  width: 140px;
}

form input[type="text"] {
  /*background: violet;*/
  margin-left: 4px;
  width: 35px;
  outline: 0;
  text-align: center;
  /*mozila*/
  -moz-margin-left: 4px;
  -moz-width: 35px;
  -moz-outline: 0;
  -moz-text-align: center;
}

form input[type="text"]:focus {
  background-color: #f0f0f0;
  /*mozila*/
  -moz-background-color: #f0f0f0;
}

form input[type="submit"] {
  width: 179px;
  height: 45px;
  cursor: pointer;
}

form p asc {
  font-size: 21.6px;
  color: black;
}

form p atc {
  font-size: 19.2px;
  color: rgb(229, 34, 55);
}

form p {
  margin-top: 15px;
  font-size: 16.8px;
  color: white;
  max-width: 179px;
  text-align: justify;
  /*background: cyan;*/
}

button {
  width: 179px;
  height: 45px;
  cursor: pointer;
  color: white;
  background-color: rgb(229, 34, 55);
  outline: 0;
  /*mozila*/
  -moz-outline: 0;
}

@media screen and (max-width: 1024px) {
  .form-wrapper {
    padding: 10% 4%;
    /*mozila*/
    -moz-padding: 10% 4%;
  }

  p:nth-of-type(1),
  p:nth-of-type(2) {
    font-size: 18.7px;
  }

  p:nth-of-type(3) {
    font-size: 19.8px;
  }

  form p {
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .form-wrapper {
    padding: 15% 2%;
    /*mozila*/
    -moz-padding: 15% 2%;
  }

  p:nth-of-type(1),
  p:nth-of-type(2) {
    font-size: 19.55px;
  }

  p:nth-of-type(3) {
    font-size: 20.7px;
  }

  p:nth-of-type(4) {
    color: white;
    font-size: 41.4px;
    text-align: center;
    margin-top: 10px;
  }

  p:nth-of-type(5) {
    color: white;
    font-size: 27.6px;
    text-align: center;
  }

  form p {
    text-align: center;
  }
}
