* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: calc(100% + 3vh);
  background-color: rgb(46, 49, 115);
}

.box-titulo {
  margin: 40px 3% 0 3%;
  color: white;
}

h1.titulo {
  font-size: 48px;
  border-bottom: 2px solid red;
  word-spacing: 4px;
}

.box-titulo p strong {
  font-size: 18px;
  color: white;
}

.box-titulo p {
  font-size: 16px;
  color: black;
  text-align: right;
  /*background: cyan;*/
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*background-color: seagreen;*/
  padding: 20px 3% 0 3%;
}

.box-wrapper a {
  cursor: pointer;
  /*margin: 0 20% 15px 20%;*/
  padding: 14px 70px;
  height: 45px;
  color: white;
  background-color: rgb(229, 34, 55);
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 10px 70px;
  height: 45px;
  color: white;
  background-color: rgb(229, 34, 55);
  outline: 0;
}

.box {
  width: calc(100% / 3 - 60px);
  max-width: 220px;
  height: 280px;
  background-color: #f2f2f2;
  margin: 40px;
  box-shadow: 4px 5px 15px black;
  text-align: center;
  padding: 24px 0;
  border-radius: 3px;
}

.box-calcular {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 49, 115);
  box-shadow: 0 0 0;
}
.box-voltar {
  background-color: rgb(46, 49, 115);
  box-shadow: 0 0 0;
  height: fit-content;
}

.ret-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: blueviolet;*/
  width: 100%;
}

.box h1 {
  /*background-color: green;*/
  font-size: 32px;
  height: 80px;
}

.box label {
  /*background-color: blue;*/
  font-size: 20px;
}

.box input[type="text"] {
  margin-bottom: 15px;
  width: 35px;
  height: 24px;
  outline: 0;
  text-align: center;
}

input[type="text"]:focus {
  background-color: #f0f0f0;
}

.flex {
  /*background-color: yellow;*/
  margin-top: 10px;
}

@media screen and (max-width: 957px) {
  .box-voltar,
  .box-calcular {
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    /*max-width: 220px;*/
  }

  .box-voltar,
  .box-calcular {
    height: 30px;
  }
}
