*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.clear{
	clear: both;
}


/*

Paleta de cores:

rgb(207,207,199) - cinza bg
rgb(232,232,224) - branco
rgb(159,160,154) - cinza recursos
rgb(83,81,65) - cinza botões
rgb(116,107,102) - cinza border
rgb(95,97,90) - cinza texto
rgb(114,190,46) - verde boost 1
rgb(217,243,131) - verde boost hover

*/


.outer-border{
	background-color: rgb(116,107,102);
	width: 1080px;
	height: 640px;
	margin: 900px auto;
	border-radius: 20px;
	padding-top: 1px;
}

.inner-border{
	background-color: rgb(232,232,224);
	display: inline-block;
	margin: 0px 5px 10px 5px;
	width: 1070px;
	height: 550px;
	border-radius: 19px;
}

.buttons{
	background-color: rgb(83,81,65);
	width: 1070px;
	border-radius: 20px;
	margin: 8px 5px 0 5px;
	padding-top: 10px;
}

.buttons ul{
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 60px;
}

.buttons li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 14px;
}

.buttons li:nth-of-type(2){
	background-color: rgb(232,232,224);
	padding-bottom: 20px;
	padding-top: 10px;
}

.buttons li:last-child{
	float: right;
	color: white;
	background-color: rgb(214, 39, 30);
	border: 2px solid black;
	border-radius: 15px;
	margin-right: 10px;
}

.buttons li:last-child:hover{
	background-color: rgb(247, 81, 69);
	cursor: pointer;
}

.buttons a{
	text-decoration: none;
	color: inherit;
}

.buttons a:hover{
	cursor: pointer;
	color: black;
}

.heading{
	display: inline-block;
	width: 100%;
}

.ndtropas{
	display: inline-block;
}

.ndtropas{
	margin-top: 5px;
	margin-left: 10px;
}

.texto-tropas{
	float: right;
	color: rgb(95,97,90);
	margin-top: 12px;
	margin-right: 15px;
}

.treinando{
	background-color: rgb(207,207,199);
	display: inline-block;
	width: calc(100% - 15px);
	margin-left: 7.5px;
	border-radius: 15px;
	height: 100px;
}

.troopinhas{
	display: inline-block;
	margin-top: 5px;
	margin-left: 640px;
}

.troopinhas img{
	border-radius: 15px;
}

.boost{
	text-align: right;
	margin: 40px 100px 0 0;
	width: 30px;
	float: right;
}

.boost > a:link, a:visited {
  	background-color: rgb(114,190,46);
	border: 2px solid black;
  	color: white;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 15px;
}

.boost > a:hover {
  	background-color: rgb(217,243,131);
}

.treinando2{
	background-color: rgb(207,207,199);
	display: inline-block;
	width: calc(100% - 15px);
	margin-top: 10px;
	margin-left: 7.5px;
	border-radius: 15px;
	height: 250px;
}

.troops{
	display: inline-block;
	margin-top: 10px;
}

.troops img{
	border-radius: calc(10px + 5px);
}

.resources{
	background-color: magenta;
	margin-top: 0;
}

.resources{
	text-align: right;
}

.recurso{
	float: left;
	width: 33.333%;
	padding: 30px;
}

.recurso p{
	display: inline-block;
	text-align: justify;
	padding: 10px 25px;
}

.recurso img{
	width: 70px;
}